@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Victor Mono", sans-serif;
  --font3: "Igra Sans", sans-serif;
  --font4: "Forte", sans-serif;
}
h1 {
  font-family: var(--font-geist-sans);
  font-weight: 400;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2f2d46;
}
